#menubox {
	
	 }
#s5_navv a {
font-weight:bold;
float: left;
color:#fff;
padding-top:6px;
display: block;
cursor: pointer;
font-size: 20px;
height:26px;
text-decoration:none;
overflow: hidden; }

#s5_navv li.active a, #s5_navv li:hover a {
color:#000;
font-size:20px;
height:29px;
}

#s5_navv .s5_rs a {
  
   padding-right: 13px;}

#s5_navv ul li ul li a, #s5_navv ul li:hover ul li a {
height: auto;
line-height: 16px;
border-right:none;
font-size:14px;
background:none;
color:#FFFFFF;
padding-left: 23px;
font-weight:bold;
padding-bottom:6px;
padding-top:6px;
}
#s5_navv ul li ul li a:hover {
height: auto;
line-height: 16px;
border-right:none;
font-size:14px;
background:none;
color:#2f426a;
padding-left: 23px;
font-weight:bold;
padding-bottom:6px;
padding-top:6px;
}

#s5_navv .s5_smallicon {
    display: block;
    height: 22px;
    margin-left: -7px;
    margin-top: -19px;
    position: absolute;
    width: 39px;}

#s5_navv ul li ul li span {
background:url(../images/Shape5_RealEstate_mmlines.png) repeat-x bottom;
  display: block;
    height: 23px}

#s5_navv li li a{
background: none;
font-weight: normal;
padding: 0;
padding-top:5px;
padding-left:14px;
}

#s5_navv, #s5_navv ul {
list-style: none;
padding: 0;
}

#s5_navv {
    position: relative;
   margin-left:20px;
   margin-top:-16px;
  }

#s5_navv ul ul a {
display: block;
text-decoration: none;
width: 190px;
text-transform: none;	
}

#s5_navv li {
float: left;
padding: 0;
height: 34px;
padding-left:16px;
margin-left:1px;
}

#s5_navv li.active, #s5_navv li:hover {
float: left;
padding: 0;
height: 35px;
padding-left:16px;
margin-left:0px;
}

#s5_navv li li.active, #s5_navv li li:hover {
padding-left:0px;}

#s5_navv ul li {
margin: 0 -7px 0 0;
position: relative;
list-style:none;
}

#s5_navv li ul {
z-index: 6;
top: 34px;
position: absolute;
left: -999em;
height: auto;
width: 218px;
font-weight: normal;
border-width: 0;
margin: 0;
padding: 0;
}

#s5_navv ul li ul {
padding: 0;
margin: 0;
height:auto;
background:none;
}

#s5_navv li li {
float: left;
padding: 0;
width: 220px;
}

#s5_navv li ul ul {
margin: -46px 0 0 201px;}

#s5_navv li:hover ul ul, 
#s5_navv li:hover ul ul ul,
#s5_navv li:hover ul ul ul ul {
position:absolute;
left: -999em;
z-index:5;
}

#s5_navv li:hover ul, 
#s5_navv li li:hover ul, 
#s5_navv li li li:hover ul, 
#s5_navv li li li li:hover ul {
position:absolute;
z-index: 5;
left: 0;
}

#s5_navv li:hover {
position:relative;
z-index: 5;
left: 0;  
}

#s5_navv ul ul {	
border-width:1px 1px 1px 1px; 
padding-bottom:0px;
padding-top:0px;
}

#s5_navv ul ul ul {	
padding-top:0px;
padding-bottom:0px;
}


#s5_navv li:hover ul {
left: 0;
background-position: 0 0;
}

#s5_navv ul li.active, #s5_navv ul li:hover { 
background:url(../images/bgleft.png) no-repeat top left;
height:49px;

}

#s5_navv ul li.active a, #s5_navv ul li:hover a.active { 
background:url(../images/navprocess22.png) no-repeat top right;
height:49px;
border-radius:7px;
}

#s5_navv ul li.s5_level_one_parent:hover { 
background:url(../images/bgleft.png) no-repeat top left;
height:49px;

}

#s5_navv ul li.s5_level_one_parent:hover a.active { 
background:url(../images/navprocess22.png) no-repeat top right;
height:49px;
border-radius:7px;
}

#s5_navv ul li { 
background:none;
text-transform:uppercase;
margin-right:11px;
}

#s5_navv ul li a{ 
background:none;
}

#s5_navv ul li.active .s5_level_one_parent { 
background:url(../images/Shape5_RealEstate_tableft.png) no-repeat top left;
}

#s5_navv ul li.active .s5_level_one_parent a { 
background:url(../images/Shape5_RealEstate_tabright.png) no-repeat top right;
}

#s5_navv ul li.active ul li {
padding-left:0px;
}

#s5_navv ul li.active ul li a {
background:none;
}

#s5_navv ul li ul li a.parent, #s5_navv ul li ul li a.parent:hover {
height:17px;
background:url(../images/Shape5_RealEstate_mmarrow.png) no-repeat 193px 8px;
margin-left:-4px;
}

#s5_navv ul li ul li.s5_top_menu_spacer {
background:url(../images/Shape5_RealEstate_mmtop.png) repeat-x top left;
height:19px;
margin-top:15px;
margin-left:-4px;
}

#s5_navv ul li ul li ul li.s5_top_menu_spacer {
background:url(../images/Shape5_RealEstate_mmsubtop.png) repeat-x top left;
height:18px;
margin-left:-4px;
}

#s5_navv ul li ul li.s5_bottom_menu_spacer {
background:url(../images/Shape5_RealEstate_bottom.png) repeat-x bottom left;
height:25px;
margin-left:-4px;
}

#s5_navv ul li ul li, #s5_navv ul li ul li.active {
background:url(../images/Shape5_RealEstate_mmback.png) no-repeat bottom left;
height: auto;
margin-left:-4px;
}

#s5_navv ul li ul li:hover, #s5_navv ul li ul li.active:hover {
background:url(../images/Shape5_RealEstate_mmback.png) no-repeat bottom left;
height: auto;
color:#2F426A!important;
margin-left:-4px;
}

#s5_navv ul li ul li.s5_top_menu_spacer:hover {
background:url(../images/Shape5_RealEstate_mmtop.png) repeat-x top left;
height:19px;
margin-top:15px;
}

#s5_navv ul li ul li ul li.s5_top_menu_spacer:hover {
background:url(../images/Shape5_RealEstate_mmsubtop.png) repeat-x top left;
height:18px;
}

#s5_navv ul li ul li.s5_bottom_menu_spacer:hover {
background:url(../images/Shape5_RealEstate_bottom.png) repeat-x bottom left;
height:25px;
margin-left:-4px;
}
